* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
}

section {
    width: 100%;
    height: 100vh;
    background-image: url(../images/pomodoro.jpg);
    background-size: cover;
}

header {
    height: 32vh;
    color: rgb(266, 266, 266);
}
main {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.timer {
    color: rgb(266, 266, 266);
}

button {
    width: 10rem;
    height: 3rem;
}

footer {
    height: 8vh;
    font-size: 12px;
    color: rgb(266, 266, 266);
}

.center {
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
  }

  .width-lg {
    max-width: 40rem;
  }

  .width-m {
      max-width: 35rem;
  }

  .width-sm {
    max-width: 10rem;
  }
  
